<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>This is the Home Page</h2>
    <p>Home page using ejs. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae aliquid expedita quis sint!</p>
    <button style="background-color: pink;">click me</button>
</body>
</html>